@import "../../index.scss";

.employers-container {
  .services-section {
    position: relative;
    background: rgb(255, 242, 199);
    background: linear-gradient(
      180deg,
      rgba(255, 242, 199, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );

    .arrow-down {
      position: absolute;
      top: 0;
      width: 350px;
      height: 80px;
      background-color: white;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

    .card {
      background-color: white;
      padding: 20px;
      min-width: 600px;
      border-radius: 20px;

      .title {
        font-size: 17px;
      }
    }
  }

  .why-with-us {
    padding: 0 7% 100px;

    .card {
      padding: 20px;
      border: 1px solid $orange;
      max-width: 200px;
      min-height: 270px;
      border-radius: 6px;
    }
  }

  .how-it-works-section {
    position: relative;
    background-color: $primary;
    padding: 100px 7%;
  }

  .request-staff {
    position: relative;
    padding-bottom: 70px;
    .triangles {
      position: absolute;
      bottom: 0;
    }
  }

  .case-studies {
    background-color: $primary;

    .card {
      background-color: white;
      padding: 0 20px;
      border-radius: 20px;
      max-width: 350px;
      min-height: 500px;
      position: relative;

      .title {
        font-size: 17px;
      }

      .btn {
        position: absolute;
        bottom: 25px;
      }
    }
  }

  .client-testimonials {
    .card {
      border: 1px solid $primary;
      padding: 30px;
      max-width: 350px;
      min-height: 230px;
      border-radius: 20px;
    }
  }

  .get-in-touch-section {
    background-color: $primary;
  }
}

@media screen and (max-width: 750px) {
  .employers-container {
    .services-section {
      .arrow-down {
        width: 150px;
        height: 40px;
      }

      .wrapper {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;

        .data-wrapper {
          padding: 0 10px;
        }
      }
      .card {
        min-width: unset;
      }
    }

    .why-with-us {
      padding: 0 10px 50px;

      .data-wrapper {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }

      .card {
        max-width: unset;
        min-height: unset;
      }
    }

    .how-it-works-section {
      display: none;
    }

    .request-staff {
      position: relative;
      padding-bottom: 70px;

      .wrapper {
        padding-top: 0;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .texts {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      .triangles {
        position: absolute;
        bottom: 0;
      }
    }

    .case-studies {
      .data-wrapper {
        overflow-y: auto;
      }

      .card {
        max-width: 350px;
        min-height: 460px;
      }
    }

    .client-testimonials {
      .data-wrapper {
        overflow-y: auto;
      }
      .card {
        padding: 20px;
        min-width: 280px;
        min-height: 230px;
      }
    }
  }
}
