@import "../../../index.scss";

.btnContainer {
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  width: fit-content;

  &.defaultClass {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid $black;
  }
}
