.choose-section-card-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  padding: 10px;
  border-radius: 15px;
  width: 213px;
  height: 150px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .choose-section-card-container {
    width: 140px;
    height: 130px;
  }
}
