/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
// colors
$primary: #f9c927;
$secondary: #7d3e8e;
$blue: #038dbe;
$orange: #f36211;
$error: #e7195a;
$black: #383838;
$gray: #f1f5f6;
$bage: #f2f0e7;
$light-bage: #e9e9e9;

// page padding
$mid-padding: 30px 7%;
$large-padding: 30px 210px;

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Poppins";
  font-size: 15px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main-section-title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

// Margins & Paddings
.page-section-padding {
  padding: 100px 7%;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

// Texts
.text-center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.semi-bold {
  font-weight: 500;
}

.bolder {
  font-weight: 700;
}

// Flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.shrink-0 {
  flex-shrink: 0;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

ul {
  margin: 0;
}

header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 100000;

  .nav-container {
    padding: $mid-padding;
    padding-bottom: 10px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu-wrapper {
    position: fixed;
    padding: 90px 20px;
    right: 0;
    width: 35%;
    height: 100vh;
    background-color: $bage;
    z-index: 1000;

    .links {
      display: flex;
      font-size: 17px;
      flex-direction: column;
      gap: 30px;
    }

    .contact-us {
      display: none;
    }
  }

  .burger-icon {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 10000;
  }

  .nav-links {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    gap: 40px;
  }

  a {
    color: #333;
    text-decoration: none;
  }
}

.get-in-touch-section {
  background-color: $primary;
  padding: 10px 7%;

  .texts {
    position: relative;
    .text {
      margin-bottom: 30px;
    }
  }
}

.job-card {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 15px;
  max-width: 380px;
  padding: 20px;
  gap: 15px;
  background-color: white;

  .title {
    font-weight: 600;
  }

  .location-wrapper {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;

    .country {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .job-duration {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
  }

  .job-type-wrapper {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;

    .job-type,
    .is-remote {
      border: 1px solid gray;
      border-radius: 6px;
      padding: 5px 10px;
    }
  }
}

.stepper-component {
  .horizontal-line {
    border-bottom: 2px solid black;
    margin: 20px 7% 20px;
  }

  .steps-wrapper {
    margin: 0 7%;
    position: relative;

    .step {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 3px;
      height: 25px;
      width: 25px;
      color: white;
      top: -35px;
      position: absolute;

      &.primary {
        background-color: $primary;
      }

      &.secondary {
        background-color: $secondary;
      }

      &.orange {
        background-color: $orange;
      }

      &.blue {
        background-color: $blue;
      }

      &.pink {
        background-color: #bc05ee;
      }

      &.purple {
        background-color: #1d03be;
      }
    }

    .title {
      margin: 15px 0;
      font-weight: 600;
    }
  }
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 40px 20px;
  gap: 15px;
  background-color: white;

  .stars {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .main-section-title {
    font-size: 25px;
    font-weight: 700;
  }

  .page-section-padding {
    padding: 50px 10px;
  }

  header {
    .burger-icon {
      display: block;
    }

    .nav-links {
      display: none;
    }
  }

  .get-in-touch-section {
    padding: 50px 10px 0 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .texts {
      align-items: center;
      position: relative;
      .text {
        margin: 10px 0;
      }
    }

    img {
      width: 350px;
      margin-top: 20px;
    }
  }
}
